RemoteSystemsTempFiles/
.metadata/
.jxbrowser-data/
src/ssmods/*/Debug/
src/ssmods/*/Release/
src/ssmods/*/.launches/
src/devmods/*/Debug/
src/devmods/*/Release/
src/devmods/*/.launches/
test/unit-tests/build/

# Ignore LaTeX build intermediates
*.aux
*.log
*.synctex.gz
*.toc

# Ignore IPython checkpoints
.ipynb_checkpoints
