RemoteSystemsTempFiles/
.metadata/
.jxbrowser-data/
src/ssmods/*/Debug/
src/ssmods/*/Release/
src/ssmods/*/.launches/
src/devmods/*/Debug/
src/devmods/*/Release/
src/devmods/*/.launches/
test/unit-tests/build/

# Ignore LaTeX build intermediates
*.aux
*.synctex.gz
*.toc

# Ignore IPython checkpoints
.ipynb_checkpoints

.DS_Store

\.idea/
*.asv
grnd/experiments/ArdMOS/cosmos/outputs/
teams/cdh/KvaserExperiments/CANAPI/Lib/Borland/
teams/cdh/KvaserExperiments/Tests/*/Debug/
teams/cdh/KvaserExperiments/Tests/*/HelloKvaser/Debug/
*.suo
teams/cdh/KvaserExperiments/Tests/*/.vs/

*.docx
